<div class="about-div">
  <h2>Fair Pair is a tool to help you solve your pairing issues.</h2>

  <h4>Fair Pair helps with the following:</h4>
  <ul>
    <li>If you feel that your pair is a computer hog.</li>
    <li>If you feel that your pair doesn't do enough driving.</li>
    <li>If you feel that your pair doesn't take enough breaks.</li>
    <li>If you feel that your pair takes too many breaks.</li>
    <li>If you feel that there is something you need to tell your pair.</li>
    <li>Keeping track of who authors the commits pushed to GitHub when using Git-Duet.</li>
  </ul>

  <h4>Fair Pair does not help with:</h4>
  <ul>
    <li>Your pair's bad breath</li>
    <li>Your pair's running mouth</li>
    <li>Your pair's annoying habits</li>
    <li>Your pair's lack of knowledge</li>
    <li>Your pair's rude attitude</li>
  </ul>
  <br>

  <h2>Instructions</h2>

  <h4>Select a timer</h4>
  <ul>
    <li>A Pomodoro is a 25 minute time frame. Using the Pomodoro timer is a good way to set an even interval for taking
      breaks.
    </li>
    <li>The Chess Clock is a quantitative way of dividing up work, or driving time. Press 'switch' to change who's clock
      is
      counting down.
    </li>
    <li>Custom timers should be used when you would like to use an interval besides 25 minutes.</li>
  </ul>
  <h4>Login to use the GitHub Commit Tracking feature</h4>
  <ul>
    <li>By adding your public repo, you can easily find out who made the last commit.</li>
  </ul>
</div>