<h1>Hello and Welcome to Fair Pair!</h1>
<div class="nav-link"><%= link_to 'Use Timers', timers_path %></div>
<div class="nav-link"><%= link_to 'GitHub Repos', repos_path %></div>
<div class="nav-link"><%= link_to 'About Fair Pair', about_path %></div>
