<div class="timer-links">
  <a href="#" data-behavior="pomodoro">Pomodoro Timer</a>
  <a href="#" data-behavior="chess">Chess Clock</a>
</div>

<div data-container="timer" class="timer">

</div>

<script>
  $(document).ready(TimerDisplay.initialize());
</script>