#repos-div {
  text-align: left;
  width: 70%;
  margin: auto;
  .repo {
    font-size: 70%;
    padding: .5em 1em;
    outline: gray solid 2px;
    background-color: whitesmoke;
    font-family: Lato, sans-serif;
    .sha, .date {
      font-size: 60%;
    }
    .author {
    }
    .message {
      font-size: 75%;
    }
  }
}