<div data-display="chess-counter1" class="time chess" id="display1"></div>
<div data-display="chess-counter2" class="time chess" id="display2"></div>

<div class="button-container">
  <button data-button="start">Start</button>
  <button data-button="reset">Reset</button>
</div>