<form action="#" data-behavior="create-timer">
  <p>
    <input type="radio" name="timer-type" value="break" id="Break Timer" checked>Break Timer <br>
    <input type="radio" name="timer-type" value="pair" id="Pair Timer">Pair Timer
  </p>

  <p>
    <label for="minutes">Time Limit:</label>
    <input type="number" name="minutes" id="minutes" value="25"> minutes
  </p>

  <input type="submit" value="Create Timer">
</form>